In [30]:
import pandas as pd

import numpy as np

In [31]:
# Câu 1: 
a = pd.Series(np.random.randint(100,size = 10))
a

0    83
1    92
2    57
3    23
4    44
5    55
6    66
7    13
8    77
9     8
dtype: int32

In [32]:
# Câu 2:
dict_1 = {'Name':'Jun', 'Age': 19, 'Job': 'studen', 'Income': 'non', 'Vehicle': 'Walk'}
b = pd.Series(dict_1)
b

Name          Jun
Age            19
Job        studen
Income        non
Vehicle      Walk
dtype: object

In [33]:
# Câu 3:

N_id = []
for i in a.index:
    N_id.append(f'Number {i}')
c = pd.Series(a.values, index= N_id)
c

Number 0    83
Number 1    92
Number 2    57
Number 3    23
Number 4    44
Number 5    55
Number 6    66
Number 7    13
Number 8    77
Number 9     8
dtype: int32

In [35]:
phones = ['Iphone',"Samsung Note","Samsung S","Nokia"]

quantities = [10,12,30,100]

e = pd.Series(quantities, index=phones)
e

Iphone           10
Samsung Note     12
Samsung S        30
Nokia           100
dtype: int64

In [36]:
# Câu 4:
print(b[4])

Walk

In [37]:
# Câu 5:
c['Number 9']

8

In [39]:
# Câu 6:
c[[int(name[-1]) < 4 for name in c.index]]

Number 0    83
Number 1    92
Number 2    57
Number 3    23
dtype: int32

In [41]:
# Câu 7:
a.index.name = 'Cột'
a.name = ' Dãy số'
a

Cột
0    83
1    92
2    57
3    23
4    44
5    55
6    66
7    13
8    77
9     8
Name:  Dãy số, dtype: int32

In [44]:
# Câu 8:
lg = pd.Series([np.log(gt) for gt in a.values])
lg.name = 'Logarith'
lg

0    4.418841
1    4.521789
2    4.043051
3    3.135494
4    3.784190
5    4.007333
6    4.189655
7    2.564949
8    4.343805
9    2.079442
Name: Logarith, dtype: float64

In [45]:
# Câu 9:
a[a > 15]

Cột
0    83
1    92
2    57
3    23
4    44
5    55
6    66
8    77
Name:  Dãy số, dtype: int32